{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock  %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block content %}
    <div class="my-5 pt-5 px-2 pb-2 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>О нас</strong></h2>
        <p class="m-2" style="font-size: 1.2rem;">{% lorem 3 b random %}</p>
    </div>
{% endblock content %}

{% block footer %}
    <footer class="py-1">
        <div class="container">
            <p class="m-0 text-center text-white">tg: @best_coffee_Shop_Ever</p>
            <p class="m-0 text-center text-white">Телефон: +7(999)999-99-99</p>
        </div>
    </footer>
{% endblock footer %}


