{% load static %}
{% load goods_tags %}

<div class="dropdown mb-2">
    <button class="btn custom-btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Каталог
        <img class="mx-1" src="{% static "deps/icons/grid-fill.svg" %}" alt="Catalog Icon" width="16"
            height="16">
    </button>
    <ul class="dropdown-menu bg-custom" data-bs-theme="dark">
        {% tag_categories as categories %}
        {% for category in categories %}
        <li>
            <a class="dropdown-item text-white" href="{% url "catalog:index" category.slug%}">{{category.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>