{% load static %}

<div class="col-lg-4 col-md-6 p-4">
    <div class="card border-primary rounded custom-shadow">
        {% if product.image %}
        <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
        {% else %}
        <img src="{% static "deps/images/Not found image.png" %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <a href="{% url "catalog:product" product.slug%}">
                <p class="card-title">
                    {% autoescape off %}
                        {% if product.headline %}
                        {{product.headline}}
                        {% else %}
                        {{ product.name }}
                        {% endif %}
                    {% endautoescape %}
                </p>
            </a>
            <p class="card-text text-truncate">
                {% autoescape off %}
                    {% if product.bodyline %}
                    {{product.bodyline}}
                    {% else %}
                    {{ product.description}}
                    {% endif %}
                {% endautoescape %}</p>
            <div class="d-flex justify-content-between">
                {% if product.discount %}
                <p><s>{{product.sell_price}}</s> руб. </p>
                <p><strong>{{product.sell_price}} руб. </strong></p>
                <span class="badge bg-warning text-dark">Скидка {{product.discount}} %</span>
                {% else %}
                <p><strong>{{product.sell_price}} руб. </strong></p>
                {% endif %}
                <a href="{% url "cart:cart_add"%}" class="btn add-to-cart" data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    <img class="mx-1" src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                        width="32" height="32">
                </a>
            </div>
        </div>
    </div>
</div>